* text=auto

*.cs        text diff=csharp
*.csproj    text
*.sln       text eol=crlf
*.xaml      text
*.md        text
*.ps1       text eol=crlf

*.xlsx      binary
*.dll       binary
*.ico       binary
